.App {
  font-family: sans-serif;
  background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
  padding: 50px;
  border-radius: 30px;
  max-width: 600px;
  margin: 24px auto;
  text-transform: capitalize;
}
.App h1 {
  color: #976df3;
  font-weight: bold;
}

.App h2 {
  color: #eb5d9a;
  margin-top: 15px;
  font-weight: bold;
}
.App .SubHeading ul {
  font-size: 18px;
  color: grey;
  list-style: none;
  line-height: 1.4;
  padding-left: 0;
  font-weight: lighter;
}
.App .container {
  padding: 0;
}
.App input {
  border-radius: 5px;
  margin-right: 20px;
  padding: 0 auto;
  line-height: 28px;
  font-size: 16px;
  border: 2px solid #68d9e7;
  margin-bottom: 18px;
}
.App button {
  padding: 5px 20px;
  line-height: 28px;
  font-size: 16px;
  color: white;
  background-color: orange;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: all 250ms;
  border: 2px solid orange;
}
.App button:hover {
  color: orange;
  background-color: white;
}

.App .TemperatureContainer,
.App .DescriptionContainer {
  display: inline-block;
}
.App .Temperature {
  display: inline;
  font-size: 60px;
  color: #eb5d9a;
  margin: auto;
  font-weight: bold;
  margin-left: 16px;
}
.App .Divider,
.App .ActiveUnit {
  font-size: 40px;
  color: orange;
  position: relative;
  bottom: 30px;
  text-decoration: none;
}
.App .Divider {
  color: grey;
  left: 8px;
  font-weight: lighter;
}
.App .InactiveUnit {
  font-size: 26px;
  color: lightblue;
  position: relative;
  bottom: 40px;
  left: 8px;
  text-decoration: none;
}
.App .InactiveUnit:hover {
  color: white;
  background-color: lightblue;
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms;
}
.App .DescriptionContainer ul {
  text-align: right;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.5;
  color: grey;
  margin: 15px auto;
  list-style: none;
  line-height: 1.4;
  padding-right: 40px;
  padding-left: 0px;
}
@media screen and (max-width: 540px) {
  .App .TemperatureContainer,
  .App .DescriptionContainer ul {
    text-align: center;
    padding-right: 0px;
  }
  .App .DescriptionContainer ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}
