.App {
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(to top, #dfe9f3 0%, white 100%);
  padding: 50px;
  border-radius: 30px;
  color: palevioletred;
}
.App h2 {
  color: yellowgreen;
}
.App input {
  border-radius: 5px;
  margin-right: 20px;
  padding: 0 auto;
  line-height: 28px;
  font-size: 16px;
  border: 2px solid darkolivegreen;
}
.App button {
  padding: 5px 20px;
  line-height: 28px;
  font-size: 16px;
  color: white;
  background-color: orange;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: all 250ms;
  border: 2px solid orange;
}
.App button:hover {
  color: orange;
  background-color: white;
}

.icon {
  width: 60px;
}
.Footer {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #dfe9f3;
}
.Footer a {
  text-decoration: none;
  color: #bdc6cf;
}
.Temperature,
.Description {
  display: inline-block;
}
.Temperature {
  font-size: 60px;
}
.Description ul {
  text-align: left;
  font-size: 16px;
  color: grey;
  margin: 40px auto;
  list-style: none;
  line-height: 1.4;
}
