.App {
  font-family: sans-serif;
  text-align: center;
  background-color: antiquewhite;
  padding: 50px;
  border-radius: 30px;
  color: palevioletred;
}
.App h2 {
  color: yellowgreen;
}
.App input {
  border-radius: 5px;
  margin-right: 20px;
  padding: 0 auto;
  line-height: 28px;
  font-size: 16px;
  border: 2px solid palegreen;
}
.App button {
  padding: 5px 20px;
  line-height: 28px;
  font-size: 16px;
  color: white;
  background-color: orange;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  transition: all 250ms;
  border: 2px solid orange;
}
.App button:hover {
  color: orange;
  background-color: white;
}

.App ul {
  text-align: left;
  font-size: 20px;
  color: plum;
  margin: 40px auto;
}
.icon {
  width: 60px;
}
